# Ignore Python build artifacts.

MANIFEST
build/
dist/
*.egg-info/
*.pyc
*.pyo


# Ignore Python environments.

.python-version
venv*/


# Ignore Make artifacts.

**/.make-update


# Ignore Vagrant runtime files.

.vagrant/


# Ignore settings for various IDEs.

.idea/
.project/
.pydevproject/
nbproject/


# Ignore OS metadata files.

.DS_Store
Thumbs.db
