# Ignore Python envrionments.

.python-version
.venv*/


# Ignore Make artifacts.

**/.make-update


# Ignore settings for various IDEs.

.idea/
.project/
.pydevproject/
nbproject/


# Ignore OS metadata files.

.DS_Store
Thumbs.db
